*
{
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic";
}
h1
{
	text-align: center;
}

.section
{
	margin-top: 10px;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu
{
	min-width: 200px;
	border-right: 1px solid black;
}

td
{
	width: 100%;
	padding: 3px;
	margin: 2px;
}

#myLike, #listBook, #addBook, #openBook
{
	background-color: #ada7a1;
}

#like, #list, #formBook
{
	background-color: #e0ddd7;
}
