*
{
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic";
}
h1
{
	text-align: center;
}

.section
{
	margin-top: 10px;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.oneBlock
{
	
	min-width: 150px;
	border-right: 1px solid black;
	margin-right: 10px;
}

.myLike, .listBook, .addBook, p
{
	background-color: #ada7a1;
	margin-bottom: 5px;
	border-radius: 3px;
}

.like, .list, .new
{
	background-color: #e0ddd7;
	margin-bottom: 5px;
	border-radius: 3px;
}

.tabs > div {
	display: none;
	padding: 10px 15px;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2 {
	display: block;
}

.tabs>label {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	font-size: 16px;
	cursor: pointer;
	position: relative;
}

.tabs>input[type="radio"]:checked+label {
	text-decoration: underline;
}